@charset "utf-8";
body {
margin: 0;
}
.clearfix::after {
content: "";
display: block;
clear: both;
}
.red--box {
width: 400px;
height: 100px;
background: #ff0000;
position: relative;
}
.purple--box {
width: 40px;
height: 40px;
background: #a9004d;
float: left;
margin-right: 10px;
}
.purple--box:last-child {
margin-right: 0px;
}
.white--box1 {
position: absolute;
top: 20px;
right: 20px;
padding: 10px;
background-color: #ffffff;
}
.green--box {
width: 150px;
height: 250px;
background: #00ff51;
float: left;
}
.brown--box {
width: 250px;
height: 250px;
background: #8e2727;
float: left;
position: relative;
}
.orange--box {
width: 140px;
height: 40px;
background: #ff863f;
border: 5px solid #ffffff;
margin-bottom: 10px;
}
.orange--box:last-child{
margin-bottom: 0px;
}
.white--box2 {
position: absolute;
top: 40px;
left: 40px;
}
.yellow--box {
width: 400px;
height: 100px;
background: #ffd000;
}